<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zwb.imagepickerlibrary">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zwb.imagepicker.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.zwb.imagepickerlibrary.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zwb.imagepickerlibrary.ImageSelectorActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.zwb.imagepickerlibrary.help.MyGlideModule"
            android:value="GlideModule" />

    </application>
</manifest>